*{
    box-sizing: border-box;
    text-transform: capitalize;
    margin-left:0 ;
}
.full-container{
    margin: 0 80px;
}
.clearflex{
    clear: both;
}
/* navbar */
.logo{
    font-size: 25px;
    display: inline-block;
    margin-bottom:-30px;
    margin-left: 50px;
    font-weight: 900;

}
.navbar ul li{
    display: inline-block;
    margin-right: 14px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    padding: 10px;
    list-style: none;
}
.navbar ul li:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 1s;
}
.navbar ul{
    text-align: right;
    margin:-30px 100px 0 0;
}

/* page 1 */
.page1-col-2{
    width: 50%;
    float: left;
}
.page1-col-2 p,h1,.button{
    margin-left: 30px;
}
.title{
    padding-top: 100px;
    font-size: 40px;
}
.page1-col-2 p{
    font-size: 20px;
    color: #868686;
}
.button{
    display: inline-block;
    background-color: blue;
    padding:10px;
    color: #fff;
    border-radius: 10px;
}
.page1-col-2 img{
    padding-top: 20px;
}

/* page 2 */
.page-2{
    background-color: black;
    height: 40vh;
}
.page2-col-3{
    width: 32%;
    float: left;
    margin-right: 13px;
    padding-top: 25px;
}
.col-1{
    width:30%;
    float: left;
    padding-top: 17px;
}
.col-2{
    width: 70%;
    float: left;
    padding-left: 20px;
    font-size: 14px;
}
.page2-col-3 h3{
    color: white;
    text-transform: uppercase;
}
.page2-col-3 p{
    color: rgb(173, 173, 173);
}
.page2-button{
    display: inline-block;
    font-size: 13px;
    background-color: blue;
    padding:8px;
    color: #fff;
    border-radius: 6px;
}

/* page-3 */
.page-3{
    background-color: rgb(20, 19, 19);
    width: 100%;
    height: 200vh;
    padding: 30px 0;
}
.page3-col-1{
    width: 59%;
    float: left;
}
.page3-col-1 h1{
    color: white;
    margin: 0 0 15px 0;
}
.line{
    background-color:#8a8a8a;
    height: 1px;
    margin: 30px 0;
    opacity: .2;
}
.page3-col-1 p{
    color: #868686;
}

.page3-sub-col-2{
    width: 50%;
    float: left;
    font-size: 13px;
}
.page3-button{
    display: inline-block;
    font-size: 13px;
    background-color: blue;
    padding:8px;
    color: #fff;
    border-radius: 6px;
    margin: 20px 0 ;
}
.side-text{
    font-weight: 900;
    color: white;
    font-size: 16px ;
    padding-left:20px;
}
.page3-sub-col-2 h1,h2{
    color: white;
}
.page3-ul{
    color: #868686;
}

/*  */

.page3-col-2{
    font-size: 13px;
    width: 40%;
    float: left;
    color: #868686;
    margin-left:10px;
}
.users .col-1{
    width: 25%;
}
.users .col-2{
    width: 75%;
    margin-left: 0;
    padding-left: 0;
}
.page3-line{
    background-color:#8a8a8a;
    height: 1px;
    margin: 10px 10px 10px 0;
    opacity: .2;
}
.user-img{ 
    margin-left: 30px;
    border-radius: 10px;
}
.users p{
    line-height: 27px;
}
.footer{
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.page3-line-new{
    background-color:#8a8a8a;
    height: 1px;
    margin: 60px 10px 60px 0;
    opacity: .2;
}




/* media */
@media only screen and (max-width:576px){
    .full-container{
        margin: 0;
    }
    /* navbar */
    .logo,.navbar ul li{
        display: block;
        text-align: center;
    }
    .logo{
        margin: 20px;
        text-align: left;
    }
    .navbar ul{
        margin:0;
    }
    /* page 1 */
    .page1-col-2{
        width: 100%;
    }
    .title{
        padding-top: 50px;
    }
    /* page-2 */
    .page-2{
        height: 130vh;
        padding: 30px 0;
    }
    .page2-col-3{
        width: 100%;
        margin: 0 15px;
    }
    .img{
        width: 70%;
        margin-left:10px;
        padding-top: 0;
    }
    .page2-col-3 .col-2{
        padding-left: 0;
    }
    /* page 3 */
    .page-3{
        height: 415vh;
    }
    .page3-col-1{
        width: 100%;
        margin: 0 10px;
    }   
    .page3-sub-col-2{
        font-size: 13px;
        padding: 10px;
    }
    .page3-sub-col-2 h1{
        font-size: 20px;
    }
    .page3-sub-col-2 h2{
        font-size: 15px;
    }
    /*  */
    .page3-col-2{
        width: 100%;
        padding: 10px;
    }
    .side-text{
        font-size: 14px;
        display: block;
        padding: 0;
    }
}
