@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    list-style: none !important;
}
/* header */
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./images/girl-1.jpg);
    background-position:bottom;
    /* background-size:inherit; */
    min-height: 100vh;
}
.navbar-light .navbar-brand{
    font-weight: 700 !important;
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link:hover::after{
    width: 100%;
}
/* inside section */
.inside-section-1{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./images/girl-1-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    margin-left: 1px;
}
.btn-1,.btn-2{
    padding: 12px 20px 15px;
    margin-right: 10px;
    font-weight: bold;
}
.btn-1{
    border: 2px solid #fff;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}
.btn-2{
    background-color: yellow;
}
/* about */
.title-color{
    color: rgb(71, 71, 71);
}
.line{
    width: 100%;
    height: 3px;
    background-color: rgb(213, 238, 255);
}

.line-color-1,.line-color-2,.line-color-3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.line-color-1{
    width: 60%;
    background-color: rgba(255, 0, 0, 0.685);
    height: 3px;
}
.line-color-2{
    width: 80%;
    background-color: yellow;
    height: 3px;
}
.line-color-3{
    width: 90%;
    background-color: rgb(140, 0, 255);
    height: 3px;
}
.text-1{
    color: rgba(255, 0, 0, 0.596);
}
.text-2{
    color: yellow;
}
.text-3{
    color: rgb(140, 0, 255);
}
/* project */
.padding-0{
    padding: 0 !important;
}
.overflow-x{
    overflow-x: hidden;
}
/* testimonials */
.padding-80{
    padding: 0 80px;
    color: #fff;
    background: linear-gradient(rgb(183, 27, 255, 0.7),rgb(183, 27, 255, 0.7)),url(./images/mountain-2.jpg);
    min-height: 30vh;
    background-position: center;
    background-size: cover;
}
.user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.bg-voliet{
    background-color: blueviolet;
    padding: 25px !important;
    font-size: small;
}
/* service */
.icon{
    font-size: 30px;
}
.h3-red{
    color: rgba(255, 0, 0, 0.733);
}
.h3-yellow{
    color: yellow;
}
.h3-voliet{
    color: blueviolet;
}
.font-size-14{
    font-size: 14px;
}
/* section 6 */
.section-6{
    background-color: rgb(23, 35, 58);
}
.btn-3{
    display: inline-block;
    padding: 8px 20px 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
    background-color: yellow;
    border-radius: 5px;
}
.icon-radius-50{
    background-color: #fff;
    border-radius: 50%;
    color: yellow;
    padding: 1px 3px 1px 4px;
    font-size: 16px;
}
.text-secondary-light{
    color: gray;
}
.color-yellow{
    color: yellow;
}
.icon-radius-50-2{
    background-color: yellow;
    border-radius: 50%;
    color: #fff;
    padding: 1px 3px 1px 4px;
    font-size: 16px;
}
/* section-6 */
.section-7{
    background: linear-gradient(rgba(250, 204, 0, 0.811),rgba(250, 204, 0, 0.811)),url(./images/bg-tree1.jpg);
    background-position: top;
    background-size: cover;
}
.hr-line{
    border-right: 2px solid #fff ;
}
/* section-8 */
.border{
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
}
.team-img img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/* footer */
.footer{
    background-color: rgb(24, 24, 24);
}
.footer ul{
    font-size: 12px;
    padding: 0;
}
.footer i{
    font-size:8px;
    padding-right: 6px;
}
.footer ul li,.footer ul i{
    line-height: 30px;
}





/* media 992 */
@media only screen and (max-width:992px){
    .nav-link{
        text-align: center !important;
    }
    .nav-link:hover{
        background-color: rgba(0, 0, 0, 0.541) !important;
        transition: .5s;
    }
    .nav-link:hover::after{
        width: 20%;
    }
}

/* media 576 */
@media only screen and (max-width:576px){
    .header{
        min-height: 85vh;
    }
    .display-sm{
        font-size: 30px !important;
    }
    .font-size-sm{
        font-size: 10px;
    }
    .dot{
        width: 5px;
        height: 5px;
    }
    .btn-2,.btn-1{
        padding: 5px 10px 8px;
        font-size: 12px;
    }
    .padding-80{
        padding: 0 10px;
        max-height: 150vh;
    }
    /* section 1 */
    .inside-section-1{
        min-height: 60vh;
    }
    /* section 7 */
    .section-7 h1{
        font-size: 26px;
    }
    .section-7 h5{
        font-size: 15px;
    }
    /* section-8 */
    .team-img{
        text-align: left;
    }
}

