@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    text-transform:capitalize;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* left area */
.left-area-container{
    position: fixed;
    background-color: rgba(80, 80, 80, 0.9);
    height: 100vh;
    width: 25%;
}

.logo{
    padding: 50px 0;
}
.menu-ul{
    display: grid;
    grid-template-rows: 38px 38px 38px 38px 38px;
    row-gap: 1px;
    padding: 0;
    margin: 0;
}
.menu-ul li{
    list-style: none;
    text-align: center;
    background-color: rgb(68, 68, 68);
    padding:10px 0;
    font-size: 13px;
    color: #fff;
}

.border-1{
    border-left: rgb(0, 247, 255) 3px solid;
}
.border-1:hover{
    color: rgb(0, 247, 255) ;
}
.border-2{
    border-left: rgb(208, 255, 0) 3px solid;
}
.border-2:hover{
    color: rgb(208, 255, 0);
}
.border-3{
    border-left: rgb(255, 102, 0) 3px solid;
}
.border-3:hover{
    color: rgb(255, 102, 0) ;
}
.border-4{
    border-left: rgb(255, 0, 0) 3px solid;
}
.border-4:hover{
    color: rgb(255, 0, 0);
}
.border-5{
    border-left: rgb(1, 255, 35) 3px solid;
}
.border-5:hover{
    color: rgb(1, 255, 35);
}
/* right area */
.total-right-area{
    display: grid;
    grid-template-columns: 25% 75%;
}
.header{
    display: grid;
    grid-template-rows:60px 55px 48px;
    align-content: center;
    background:linear-gradient(rgba(8, 185, 255, 0.1),rgba(0, 0, 0, 0.7)),url(./images/banner-img1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.sub-title,.button,.title,.button-2,.button-3{
    text-align: center;
    color: #fff;
}
.title{
    margin: 0;
    font-size: 45px;
    font-weight: 900;
}
.sub-title{
    font-weight: 200;
    text-shadow:5px 5px 10px #0020ff;
}
.button p{ 
    display: inline-block;
    background-color: rgb(42, 187, 255);
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: rgb(0, 94, 94) 3px solid;
}

/* main-section1-title */
.main-section{
    padding: 50px 40px;
}
.main-section1-title{
    text-align: center;
}
.main-section1-title h1{
    font-weight: 200;
    color: rgb(42, 187, 255);
}
.main-section1-title div{
    color: gray;
    font-size: 13px;
}
.spn-clr{
    color: rgb(42, 187, 255);
}

.about-title{
    padding: 10px 0 50px;
}
.about-title>p{
    height: 2px;
    background-color: rgb(194, 149, 0);
    margin: 0;
}
.about p{
    display: inline-block;
    background-color:rgb(252, 193, 0);
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 13px;
}
/* images */
.images{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    text-align: center;
}
.images .col-3 img{
    width:100%;
}
.images .names{
    color: rgb(194, 149, 0);  
    font-size: 18px;
    margin-bottom: 3px;
}
.muted-text{
    color: rgb(66, 66, 66);
    font-size: 12px;
    font-weight: 200;
}
/* management-team */
.management-team{
    display: grid;
    grid-template-columns: 65% 35%;
}
.management-team .col-2 h2{
    color: rgb(194, 149, 0);  
    font-weight: 200;
}
.management-team .col-2 p{
    color: rgb(66, 66, 66);
    font-size: 13px;
    font-weight: 200;
}
.management-team .col-2 img{
    width: 100%;
    padding: 30px 0;
}
/* service */
.service-title{
    padding: 10px 0 50px;
}
.service-title>p{
    height: 2px;
    background-color: rgb(133, 0, 185);
    margin: 0;
}
.service p{
    display: inline-block;
    background-color: rgb(183, 0, 255);
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 13px;
}
/* skils */
.skils{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
.skils .col-3{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(183, 0, 255);
    color: #fff;
}
.skils .col-3 .col-2{
    padding: 10px 10x 0;
    text-align: center;
    font-size: 18px;
}
.skils .col-3 i{
    font-size: 22px;
    padding-top: 17px;
    padding-left: 15px;
}
/* our-skils */
.our-skils{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 30px 0;
}
.our-skils .col-2 h2{
    color: rgb(183, 0, 255);
    font-weight: 200;
}
.our-skils .col-2 p{
    color: rgb(66, 66, 66);
    font-size: 13px;
    font-weight: 200;
    padding-right: 20px ;
}
.our-skils .col-2 .skil{
    background-color: rgb(233, 252, 246);
    border-radius: 10px;
    margin: 10px auto;
    font-size: 11px;
}
.skil-container{
    padding-top: 50px;
}
.wrd{
    word-spacing: 5px;
}
.skil-1,.skil-2,.skil-3,.skil-4{
    width: 100%;
    margin: 0;
    padding: 5px 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(183, 0, 255);
}
.skil-1{
    text-align: center;
    width: 90%;
}
.skil-2{
    text-align: center;
    width: 75%;
}
.skil-3{
    text-align: center;
    width: 60%;
}
.skil-4{
    text-align: center;
    width: 80%;
}
/* [portfolio] */
.portfolio-title{
    padding: 10px 0 50px;
}
.portfolio-title>p{
    height: 2px;
    background-color: rgb(0, 199, 116);
    margin: 0;
    padding: 0;
}
.portfolio p{
    display: inline-block;
    background-color: rgb(0, 223, 148);
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 13px;
}

/* portfolio-container */
.portfolio-container{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}

.portfolio-container .names{
    color: rgb(0, 223, 148);  
    font-size: 18px;
    margin-bottom: 3px;
    text-align: center;
}
.portfolio-container .col-3{
    margin: 20px 0 ;
}
.portfolio-container img{
    width: 100%;
    box-shadow: 1px 2px 9px rgb(0, 223, 148);
}
.button-2 p{
    background-color:rgb(0, 223, 148);
    display: inline-block;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: rgb(0, 134, 90) 3px solid;
}
/* contact us */
.contact-us-title{
    padding: 10px 0 50px;
}
.contact-us-title>p{
    height: 2px;
    background-color: rgb(189, 0, 116);
    margin: 0;
    padding: 0;
}
.contact-us p{
    display: inline-block;
    background-color: rgb(255, 4, 159);
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 13px;
}
/* map */
.map-container{
    display: grid;
    justify-content:center;
    width: 100%;
}
.map{
    padding: 30px 0 50px;
    width: 100%;
}

/* form */
.form .col-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    padding-bottom: 10px;
}
.input-container p,.text-container p{
    color: rgb(148, 148, 148);
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 2px;
}
.input-container input{
    width: 90%;
    height: 30px;
    border: rgb(148, 148, 148) 1px solid;
}
.text-container{
    padding-bottom: 20px;
}
.text-container input{
    width: 97%;
    height: 140px;
}
.star{
    color: red;
}
button{
    border: none;
    padding: 0;

}
.button-3 p{ 
    display: inline-block;
    background-color: rgb(255, 4, 159);
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: rgb(189, 0, 116) 3px solid;
    margin: 0;
}

/* footer */

.icons2{
    background-color:rgb(58, 57, 57,.9);
    border-left: 2px solid rgb(63, 63, 63);
    height: 150px;
    text-align: center;
}
.icons2 i{
    margin: 60px 1px;
    color: #fff;
    background-color:rgb(63, 63, 63);
    padding: 10px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.end{
    background-color:rgb(63, 63, 63);
    height: 50px;
    color: rgb(161, 161, 161);
}
.end h4{
    font-size: small;
    margin: 0;
    padding:10px 30px;
    color: w;
    font-weight: 200;
}
.my-name{
    color: #fff;
}


/* media 1200px*/

@media only screen and (max-width:1200px){
    /* images */
    .images{
        grid-template-columns: 33% 33% 33%;
    }
    .images .col-3 img{
        width:90%;
    }
    .muted-text{
        color: rgb(66, 66, 66);
        font-size: 12px;
        font-weight: 200;
        margin-top: 0;
    }
    /* managemebt team */
    .management-team{
        grid-template-columns:100%;
    }
    .management-team .col-2 img{
        width: 100%;
        padding: 0;
        /* margin: o auto !important; */
    }
    /* skils */
    .wrd{
        word-spacing: none;
    }
    .skils{
        grid-template-columns:32% 32% 32%;
        justify-content: space-between;
    }
    .skils .col-3{
        grid-template-columns: 100%;
        padding: 8px 0;
    }
    .skils .col-3{
        margin-bottom: 10px;
    }
    .skils .col-3 i{
        padding: 6px 0;
    }
    .skils .col-3 p{
        padding-top:0;
    }
    .skils .col-3 .col-2{
        padding:0;
        padding-left: 10px;
    }
    /* our skils */
    .our-skils{
        grid-template-columns: 60% 40%;
        justify-content:space-between;
    }
    .our-skils .col-2 .skil{
        width: 100%;
    }
    /* portfolio */
    .portfolio-container{
        grid-template-columns:47% 47%;
        justify-content: space-between;
    }
    /* contact us */


}
/* media 900px*/

@media only screen and (max-width:900px){

    /* total right area */
    .total-right-area{
        grid-template-columns: 25% 75%;
    }
    /* main section */
    .main-section{
        padding: 50px 40px;
    }
    /* images */
    .images{
        grid-template-columns: 100%;
    }
    .images .col-3 img{
        width:70%;
    }
    .images .names{
        margin-bottom: 0;
    }
    .muted-text{
        color: rgb(66, 66, 66);
        font-size: 12px;
        font-weight: 200;
        margin-top: 0;
    }
    /* managemebt team */
    .management-team{
        grid-template-columns:100%;
        justify-content: center;
    }
    .management-team .col-2 img{
        width: 100%;
        padding: 0;
    }
    /* skils */
    .wrd{
        word-spacing: none;
    }
    .skils{
        grid-template-columns:60%;
        justify-content: center;
    }
    .skils .col-3{
        margin-bottom: 10px;
        grid-template-columns: 20% 80%;
    }
    .skils .col-3 i{
        padding: 0;
    }
    .skils .col-3 p{
        padding-top: 15px;
    }

    /* our skils */
    .our-skils{
        grid-template-columns: 100%;
        justify-content: center;
    }
    .our-skils .col-2 .skil{
        width: 70%;
    }
    /* portfolio */
    .portfolio-container{
        grid-template-columns:100%;
        justify-content: space-between;
    }
    /* contact us */
    .form .col-3{
        grid-template-columns: 100%;
    }
    .input-container input{
        width: 90%;
    }

}

/* media 700px*/

@media only screen and (max-width:700px){
    /* left area */
    .left-area-container{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .logo{
        padding: 10px 0;
    }
    .menu-ul{
        align-content: center;
        height: 212px;
    }
    /* total right area */
    .total-right-area{
        grid-template-columns:100%;
    }
    /* header */
    .title{
        font-size: 35px;
    }
    .sub-title{
        font-size: 13px;
    }
    .button p,.button-2 p,.button-3 p{
        padding: 8px;
        font-size: 13px;
    }
    /* main section */
    .main-section{
        padding: 50px 10px;
    }
    /* images */
    .images{
        grid-template-columns: 100%;
    }
    .images .col-3 img{
        width:70%;
    }
    .images .names{
        margin-bottom: 0;
    }
    .muted-text{
        color: rgb(66, 66, 66);
        font-size: 12px;
        font-weight: 200;
        margin-top: 0;
    }
    /* managemebt team */
    .management-team{
        grid-template-columns:100%;
        justify-content: center;
    }
    .management-team .col-2 img{
        width: 100%;
        padding: 0;
    }
    /* skils */
    .wrd{
        word-spacing: none;
    }
    .skils{
        grid-template-columns:60%;
        justify-content: center;
    }
    .skils .col-3{
        margin-bottom: 10px;
    }
    .skils .col-3 i{
        padding: 0;
    }
    .skils .col-3 p{
        padding-top: 15px;
    }

    /* our skils */
    .our-skils{
        grid-template-columns: 100%;
        justify-content: center;
    }
    .our-skils .col-2 .skil{
        width: 70%;
    }
    /* portfolio */
    .portfolio-container{
        grid-template-columns:47% 47%;
        justify-content: space-between;
    }
    /* contact us */
    .form .col-3{
        grid-template-columns: 100%;
    }
    .input-container input{
        width: 94%;
    }
}

/* media for 500px */

@media only screen and (max-width:500px){
    /* left area */
    .left-area-container{
        position: relative;
        width: 100%;
        max-height: 370px;
    }
    .logo{
        padding: 10px 0;
    }
    .menu-ul{
        align-content: center;
        height: 250px;
    }

    /* total right area */
    .total-right-area{
        grid-template-columns:100%;
    }
    /* header */
    .header{
        height: 50vh;
        grid-template-rows:40px 55px 48px;
    }
    .title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 12px;
    }

    .button p,.button-2 p,.button-3 p{
        font-size: 11px;
    }
    /* main section */
    .main-section{
        padding: 50px 10px;
    }
    /* images */
    .images{
        grid-template-columns: 100%;
    }
    .images .col-3 img{
        width:70%;
    }
    .images .names{
        margin-bottom: 0;
    }
    .muted-text{
        color: rgb(66, 66, 66);
        font-size: 12px;
        font-weight: 200;
        margin-top: 0;
    }
    /* managemebt team */
    .management-team{
        grid-template-columns:100%;
        justify-content: center;
    }
    .management-team .col-2 img{
        width: 100%;
        padding: 0;
    }
    /* skils */
    .wrd{
        word-spacing: none;
    }
    .skils{
        grid-template-columns:80%;
        justify-content: center;
    }
    .skils .col-3{
        margin-bottom: 10px;
    }
    .skils .col-3 i{
        padding: 0;
        font-size: 14px;
    }
    .skils .col-3 p{
        padding-top: 15px 0;
    }
    .skils .col-3 .col-2 {
        padding-right:10px;
        font-size: 13px;
    }
    /* our skils */
    .our-skils{
        grid-template-columns: 100%;
        justify-content: center;
    }
    .our-skils .col-2 .skil{
        width: 80%;
    }
    /* portfolio */
    .portfolio-container{
        grid-template-columns:90%;
        justify-content: center;
    }
}
/* media */
/* media height */
@media only screen and (max-height:376px){
    /* left area */
    .logo{
        padding: 10px 0;
    }
    .menu-ul{
        align-content: center;
        height: 213px;
    }
    /* header */
    .title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 12px;
    }
    .header{
        height: 50vh;
        grid-template-rows:40px 40px 50px;
    }
    /* serivice */

}


